<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome User</title>
    <link rel="stylesheet" href="./stylesheets/index.css">
</head>

<body>
    <div id="wrapper">
        <h2>Namaste <span>!</span></h2>
        <p>This is a simple application made to test and practice the <span>CRUD</span> concepts of DataBase and have a simple UI. This
            project doesn't focuses on frontend part but the complex <span>backend</span>  which we reckon as more intricate and
            <span>sophisticated</span> as compared to the frontend.</p>
        <div class="buttons">
            <button class="redirect">Register Yourself</button>
            <button class="login">Log In</button>
        </div>
        <footer>Made with 💖 by Piyush Mishra</footer>
    </div>
    <script src="./scripts/script.js"></script>
</body>

</html>