<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="./stylesheets/index.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <h2>Log In</h2>
        <div class="help">
            <i style="font-family: NeueMachina;font-size: large;color:lightseagreen;" class="ri-question-fill"></i>
            <p>Enter your email and password to login...</p>
        </div>
        <form action="login" method="post">
            <input type="email" name="email" placeholder="Enter your email" required>
            <input type="password" name="password" placeholder="Enter your password" required>
            <button>Log In</button>
        </form>
        <a href="/">Return to Home</a>
        <footer>Made with 💖 by Piyush Mishra</footer>
    </div>
</body>
</html>